.Filter {
  &__label {
    margin-right: 10px;
    font-size: 18px;
  }

  &__select {
    width: 70px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }

  &__option {
    background-color: #fff;
    color: #333;
  }
}
